api-gateway/HELP.md
api-gateway/target/
api-gateway/!.mvn/wrapper/maven-wrapper.jar
api-gateway/!**/src/main/**
api-gateway/!**/src/test/**

api-gateway/.idea
api-gateway/*.iws
api-gateway/*.iml
api-gateway/*.ipr

config-server/HELP.md
config-server/target/
config-server/!.mvn/wrapper/maven-wrapper.jar
config-server/!**/src/main/**
config-server/!**/src/test/**

config-server/.idea
config-server/*.iws
config-server/*.iml
config-server/*.ipr

hystrix-dashboard/HELP.md
hystrix-dashboard/target/
hystrix-dashboard/!.mvn/wrapper/maven-wrapper.jar
hystrix-dashboard/!**/src/main/**
hystrix-dashboard/!**/src/test/**

hystrix-dashboard/.idea
hystrix-dashboard/*.iws
hystrix-dashboard/*.iml
hystrix-dashboard/*.ipr

service-registry/HELP.md
service-registry/target/
service-registry/!.mvn/wrapper/maven-wrapper.jar
service-registry/!**/src/main/**
service-registry/!**/src/test/**

service-registry/.idea
service-registry/*.iws
service-registry/*.iml
service-registry/*.ipr

*service/HELP.md
*service/target/
*service/!.mvn/wrapper/maven-wrapper.jar
*service/!**/src/main/**
*service/!**/src/test/**

*service/.idea
*service/*.iws
*service/*.iml
*service/*.ipr

.idea
*.iws
*.iml
*.ipr
