*service/!.mvn/wrapper/maven-wrapper.jar
*service/!**/src/main/**
*service/!**/src/test/**
*service/HELP.md
*service/target/

*service/*.iws
*service/*.iml
*service/*.ipr
*service/.idea

*.iws
*.iml
*.ipr
*.idea
